Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
certs/
auth/
datasets/
/cookiecutter-rawdata-converter-app
/rawdata-converter-app-altinn3/
/rawdata-converter-app-csv/
/rawdata-converter-app-bong/
/rawdata-converter-app-freg/
/rawdata-converter-app-sirius/
/rawdata-converter-coredux/
/rawdata-converter-testutils/
/rawdata-converter-scripts/
